@import 'normalize.css';

:root{
    //Default layout
    --default-layott-header-height : 60px;
    --default-layott-width : 1150px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    
}
body{

}